.form-box {
    position: relative;
    width: 800px;
    height: 900px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.seccion1 {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../docs/Thebatman.jpg");
    /* Cambiar 'imagen1.jpg' por tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}