.form-box {
    position: relative;
    width: 90rem;
    height: 300px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.seccion1 {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../docs/imgmancity.jpg");
    /* Cambiar 'imagen1.jpg' por tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.tarjeta {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../docs/descarga.jpg");
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 90rem;
    height: 658px;
}

.seccion2 {
    height: 100vh;
    /* Cambiar 'imagen2.jpg' por tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}


.card {
    position: relative;
    height: 460px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}