<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

    <!-- Sección 1 (Header) -->
    <div class="seccion1 row justify-content-center align-items-center">
        <div class="form-box col-md-10">
            <h1>LISTA DE PELICULAS</h1>
            <!-- Agrega aquí lo que necesites dentro de la tarjeta -->
        </div>
    </div>

    <!-- Sección 2 -->
    <div class="seccion2 row justify-content-center ">
        <div class="tarjeta col-md-10 d-flex text-center justify-content-between align-items-center">
            <!-- Agrega aquí lo que necesites dentro de la tarjeta de la segunda sección -->

            <div class="col-md-4 text-center" routerLink="/addpelis">
                <div class="card">
                    <div class="card-body1">
                        <h3 class="card-title" >AGREGAR UNA PELICULA</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 b" routerLink="/seepelis">
                <div class="card">
                    <div class="card-body2">
                        <h3 class="card-title">lista de peliculas</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4"routerLink="/recomendations">
                <div class="card">
                    <div class="card-body3">
                        <h3 class="card-title">Recomenciones</h3>
                    </div>
                </div>
            </div>
            <!-- Agrega aquí lo que necesites dentro de la tarjeta de la segunda sección -->
        </div>
    </div>

    <!-- Bootstrap JS (Opcional, para ciertas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

