<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Principal</title>
    <link rel="stylesheet" href="home.component.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style> </style>
</head>

<body>

    <!-- Sección 1 (Header) -->
    <div class="seccion1 row justify-content-center align-items-center">
        <div class="form-box col-md-10">
            <h1>LISTA DE PELICULAS</h1>
            <!-- Agrega aquí lo que necesites dentro de la tarjeta -->
        </div>
    </div>

    <!-- Sección 2 -->
    <div class="seccion2 row justify-content-center mt-5">
        <div class="tarjeta col-md-10 d-flex text-center justify-content-between align-items-center">
            <!-- Agrega aquí lo que necesites dentro de la tarjeta de la segunda sección -->

            <div class="col-md-4" routerLink="/addpelis">
                <div class="card">
                    <div class="card-body">
                        <a class="card-title" >AGREGAR UNA PELICULA</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 b" routerLink="/seepelis">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Opción 1</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4"routerLink="/recomendations">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Opción 1</h5>
                    </div>
                </div>
            </div>
            <!-- Agrega aquí lo que necesites dentro de la tarjeta de la segunda sección -->
        </div>
    </div>

    <!-- Bootstrap JS (Opcional, para ciertas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>