
.container {
    background-color: black;
    height: 100%; /* Esto asegura que la altura del contenido se expanda */
    color: white;
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 50px;
}
.card{
    height: 150px;
    width: 650px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../docs/descarga.jpg");
}
